
.section-banner{
  height: 100vh;
  background-color: var(--c-base);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section-banner img{
  max-width: 45%;
}
.section-banner h1{
  font-size: 48px;
  font-weight: 700;
}
.section-banner p{
  font-size: 18px;
  font-weight: 600;
}
.section-banner .banner-links a{
  font-size: 18px;
  margin: 15px;
  padding: 12px 32px;
  font-weight: 700;
  display: inline-block;
  border: 2px solid var(--c-base);
  border-radius: var(--b-radius);
}
.section-banner .banner-links a:nth-child(1){
  background-color: white;
  color: var(--c-base);
}
.section-banner .banner-links a:nth-child(2){
  background-color: var(--c-base);
  border: 2px solid white;
  color: white;
}