@import url("./variables.css");
@import url("./reset.css");
@import url("./header.css");
@import url("./sectionbanner.css");
@import url("./sectioncards.css");


.section-colors{
  font-size: 18px;
  font-weight: 400;
  display: flex;
  height: 70vh;
  background-color: var(--c-base);
  color: white;
  margin: 15px;
}
.section-colors .title{
  font-weight: 700;
}
.section-colors img{
  max-width: 50%;
}
.section-colors a{
  font-size: 18px;
  font-weight: 600;
  border: 2px solid white;
  border-radius: var(--b-radius);
  background-color: var(--c-base);
  color: white;
  padding: 12 32px;
}